body{
	background: white;

}
.main{
	float: left;
	/*margin-left:15%;*/
}
#a{
	font-family: calibri,sans-serif;
	font-size: 40px;
	margin-top: 10%;
	
}
#b{
	border-radius: 50%;
	border: none;
	outline: none;
	background: green;
}
#c{
	border-radius: 25px;
	border: none;
	outline: none;
	background: white;
}
#d{
	margin-left: 10%;
	border-radius: 20px;
	border: none;
	outline: none;
	background:#F39C12;
	padding: 10px;
}
#img{
	float: right;
}