body{
	background: url("C:/Users/USER/Downloads/dark-wood.jpg");
	font-family: "California FB",serif;
	/*width: 100%;*/
	margin-left: 15%;
	margin-right: 15%;

}
.main{
	/*margin-left: 200px;*/

}
a:hover {
  background-color: lightgrey;
}
.active{
  color:black;
  text-decoration: none;
}
/*a:link,a:visited{
	text-decoration: none;
	color: white;
}
a:hover,a:visited{
	color: black;
}*/
.de{
	text-align: left;
	background: grey;
	color: none;
	margin-top: -5px;
	padding: 5px;
	
}


#id{
	color: black;
	background: grey;
	outline: none;
	border: none;
}
#name{
	color: white;
	background: grey;
	outline: none;
	border: none;
}
.now{
	width: 100%;
	background: white;
	
	display: inline-block;
}


.a{
	padding: 10px;
	float: left;
	
}
.b{
	margin-right: 250px;
}


.c{
	margin-top: -200px;
	float: right;
	}
.next{
	width: 100%;
	background: white;
	
	display: inline-block;
}

.d{
	padding: 10px;
	float: left;
}
.e{
	margin-right: 250px;
}

.f{

	margin-top: -170px;
	float: right;
	}
.footer{
	padding: 1px;
	background: grey;
	color:white;
	margin-top: -5px;
	
}
	