body{
	background: white;
	width:100%;
	font-family: "Helvetica Neue",sans-serif;
	}
	
#la:hover{
	color: grey;
}
#la{
	font-family: "Helvetica Neue",sans-serif;
	margin-left: 20%;
	font-size: x-small;
	text-decoration: none;

}
#lb{
	/*font-family: "Helvetica Neue",sans-serif;*/
	
	margin-left: 20px;
	font-size: x-small;
	text-decoration: none;
}
#ab{
	font-family: "Helvetica Neue",sans-serif;
	margin-left: 20%;
	font-size: x-small;
	text-decoration: none;
}

#b{
	font-family: "Helvetica Neue",sans-serif;
	margin-left: 20px;
	font-size: x-small;
	text-decoration: none;
}
#c{
	color: grey;
	font-family: "Helvetica Neue",sans-serif;
	margin-left: 20%;
	font-size: x-small;
	text-decoration: none;
}