body{
	background:white;
	font-family: "Segoe UI Light",serif}

.main{
	
	        color: black;
	        background :black; 
			background-size: 100% 100%;
			background-repeat: no-repeat;
			padding:15px;
			outline: none;
				border: none;
			
			
			}

			#name{
				color: white;
				background: black;
				outline: none;
				border: none;
			}
			#id{
color: black;
	background: grey;
	outline: none;
	border: none;
				

			}
.de{
			color: black;
			background :#73C6B6  ; 
			background-size: 100% 100%;
			background-repeat: no-repeat;
			padding: 10px;


			
						}


.new{
	color: black;
			margin-right: 500px;
			background :white; 
			background-size: 100% 100%;
			background-repeat: no-repeat
			margin-right:60px;
			
			margin-left: 15px;
}
#intro{
	margin-top: -210px;
	margin-left: 800px;
}
#odd{

	margin-top: -10px;
	margin-left: 820px;
	text-decoration: none;
}
.even{
	margin-top: -80px;
	margin-left: 420px;
}
#div{
	color: white;
	border: none;
	margin-left: 420px;
	border-radius: 10px;
	padding:10px;
	background: green;
	outline: none;
}
  .prime{
  	margin-top: 20px;
  color: grey;
   background: black;
	 padding: 10px;       

  }

  .now{
margin-top: -35px;
  color: grey;
   background: black;
	 padding: 5px;
  }
			
		